---
import { cn } from '@/lib/utils';

type Props = {
  href: string;
  external?: boolean;
};

const { href, external, ...rest } = Astro.props;
---

<a
  href={href}
  target={external ? '_blank' : '_self'}
  class={cn(
    'inline-block text-current hover:text-(--primary-100) decoration-(--bg-300) hover:decoration-(--primary-200) transition-colors duration-300 ease-in-out',
  )}
  {...rest}
>
  <slot />
</a>
